<!DOCTYPE html>
<html>
<title>Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<script src="https://kit.fontawesome.com/2d2642681e.js" crossorigin="anonymous"></script>

<body style="background-color: rgb(225, 231, 231)">
    <div class="w3-container" style="margin-top: 50px">
        <div class="w3-modal-content w3-animate-zoom w3-card-4 w3-padding w3-round" style="width: 40%">
            <header class="w3-container w3-border-bottom w3-border-teal w3-center">
                <h2>Forgot Password</h2>
            </header>
            <div class="w3-container w3-padding">
                <form action="/resetPassword" method="get">

                    <div class="w3-container">
                        <label><i class="fa-solid fa-email"></i>Email</label>
                        <input id="password" class="w3-input" type="email" name="email" value="" />
                    </div>

                    <div class="w3-container w3-center">
                        <button type="submit" class="w3-button w3-black w3-round w3-margin-top">
                            Send OTP
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>