<!DOCTYPE html>
<html>
<head>
  <title>Email Form</title>
</head>
<body>
  <h1>Email Form</h1>
  
  <form action="/sendEmail" method="post">

    <label for="subject">Subject:</label><br>
    <input type="text" name="subject" required><br><br>
    
    <label for="message">Message:</label><br>
    <textarea name="message" rows="4" cols="50" required></textarea><br><br>
    
    <input type="submit" value="Send">
  </form>
</body>
</html>
